body {
  background-image: linear-gradient(to top, #0f0f0f, #1a1a1a, #242026, #2e2932, #383342);
  min-height: 100vh;
  font-family: sans-serif;
  color: white;
  position: relative;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 16rem;
  border-radius: 12px;
  padding: 1rem 0;
  background: rgba(12, 12, 12, 0.50);
  font-size: xx-large;
  transition: all 0.3s ease-in-out;
  min-width: fit;
}

.navbar:hover {
  background: rgba(12, 12, 12, 0.75);
  box-shadow: 0 5px 15px rgba(109, 67, 207, 0.5);
  margin: 0rem 12rem;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0rem 2rem;
  transition: all 0.2s ease-in;
}

.navbar a:hover {
  color: rgb(109, 67, 207);
  scale: 125%;
  transform: translateY(-10px);
  text-shadow: 0px 10px 20px rgba(109, 67, 207, 0.75);
}

.logo {
  padding: 1.5rem;
  height: 40vh;
  max-width: 100%;
  border-radius: 5%;
  border: #3f3f3f 2px solid;
  background-color: #2f2f2f;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  box-shadow: 0 15px 15px rgba(109, 67, 207, 0.5);
  border-color: rgb(109, 67, 207);
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.5rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1.5rem;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

.info-container {
  margin: 0 1rem;
  margin-top: 2rem;
  padding: 2.5rem;
  border-radius: 5%;
  border: #3f3f3f 2px solid;
  background-color: #2f2f2f;
  transition: all 0.3s ease-in-out;
}

.info-container:hover {
  box-shadow: 0 15px 15px rgba(109, 67, 207, 0.5);
  border-color: rgb(109, 67, 207);
}

.info-container p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.6;
}

.info-container h1 {
  padding-bottom: .5rem;
  border-bottom: white 2px solid;
}

#current-page {
  color: rgb(109, 67, 207);
}

.info-container a {
  color: rgb(109, 67, 207);
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.activities-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
}

.activities {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding: 1rem 2.5%;
  background-color: #2f2f2f;
  transition: all 0.3s ease-in-out;
  border-radius: 22.5px;
  justify-content: space-between;
  height: fit-content;
}

.activities:hover {
  box-shadow: 0 15px 15px rgba(109, 67, 207, 0.5);
  border-color: rgb(109, 67, 207);
}

.activities-text {
  width: 70%;
  flex-grow: 1;
}

.activities img {
  width: 25%;
  object-fit: cover;
}

.activities h1 {
  padding-bottom: .5rem;
  text-decoration: underline solid;
  text-underline-offset: 15px;
  transition: all 0.3s ease-in-out;
}

.activities:hover h1 {
  text-decoration: underline rgb(109, 67, 207);
}


.activities p {
  text-align: center;
}


.activities-past {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.activities-future {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.register-contiainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 2rem 20vw;
  background-color: #2f2f2f;
  padding: 4rem;
  border-radius: 45px;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.register-contiainer:hover {
  box-shadow: 0 15px 15px rgba(109, 67, 207, 0.5);
  border-color: rgb(109, 67, 207);
}


.register-contiainer input {
  background-color: #39404066;
  border-color: transparent;
  border-bottom: 2px solid white;
  font-size: 1.5rem;
  color: white;
  transition: all .2s ease-in-out;
  border-radius: 11.25px;
  padding: .5rem;
}

.register-contiainer input:hover {
  scale: 105%;
  color: rgb(194, 184, 224);
  background-color: #394040bb;
  box-shadow: 0 5px 15px rgba(109, 67, 207, 0.5);
  border-bottom-color: rgb(69, 33, 157);
}

.register-contiainer input:focus {
  background-color: #394040ff;
  outline: none;
  box-shadow: 0 5px 15px rgb(69, 33, 157);
  border-color: rgb(109, 67, 207);
  color: rgb(171, 153, 224);
  text-shadow: 0px 5px 50px rgba(109, 67, 207, 0.75);
}


.register-contiainer label {
  font-size: 1.4rem;
  font-weight: bolder;
  align-items: center;
  width: fit-content;
}



.inline {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  font-size: large;
  justify-content: space-around;
  width: 100%;
  margin: 0.25rem 0;
}

.inline input {
  width: 50%;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: large;
  justify-content: center;
  width: 100%;
  margin: 0.25rem 0;
}

.block input {
  width: 100%;
}

.block label {
  transition: all .2s ease-in-out;
}


.block:hover label {
  color: rgba(123, 87, 227, 0.8);
  text-underline-offset: 0.3rem;
  scale: 105%;
}


.form-submit {
  align-content: center;
  text-align: center;
  width: 25%;
  height: initial;
  font-size: x-large;
  font-weight: bolder;
  background-color: rgba(123, 87, 227, 0.8);
  border: transparent;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 2rem 4rem;
  transition: all .2s ease-in-out;
  box-shadow: 0 5px 15px rgba(74, 71, 81, 1);
  color: black;
}

.form-submit:hover {
  width: 30%;
  box-shadow: 0 5px 15px rgba(109, 67, 207, 0.75);
  background-color: rgba(129, 117, 247, 1);
  color: white;
  font-size: xx-large;
}
